
html,body{
    margin: 0;
    padding: 0;
    background-image: url("../img/background.png");
    background-size: cover;
    height: 100%;
}


h1{
    font-family: 'Permanent Marker', cursive;
    color: white;
}

/*Default style for each player image*/
.playerImg{
    width: 10%;
    max-width: 75px;
    height: auto;
    margin: 0;
    border-radius: 50%;
    cursor: pointer;
    border: 0px solid black;
    
}

/*player image bounce effect on hover*/
.playerImg:hover{
    animation: bounce 0.5s linear;
}

@keyframes  bounce{
    5%{
        transform: translateY(-5px);
    }
}

/* PLAYERS IN THE SOCCER FIELD */

/* Positioning Goalkeeper*/
#GK{
    position: absolute !important;
    bottom: 10%;
    left: 45.7%;
}

/* Positioning Left Center Back*/
#LB{
    position: absolute !important;
    bottom: 30%;
    left: 25.4%;
}
/* Positioning Center Back*/
#CB{
    position: absolute !important;
    bottom: 30%;
    left: 45.7%;
}
/* Positioning Right Center Back*/
#RB{
    position: absolute !important;
    bottom: 30%;
    right: 25.4%;
}

/* Positioning Left Center Defensive Midfield*/
#leftCDM{
    position: absolute !important;
    bottom: 50%;
    left: 35%;
}

/* Positioning Right Center Defensive Midfield*/
#rightCDM{
    position: absolute !important;
    bottom: 50%;
    right: 35%;
}

/* Positioning Center Attacking Midfield*/
#CAM{
    position: absolute !important;
    bottom: 65%;
    left: 45.7%;
}

/* Positioning Left Midfield*/
#LM{
    position: absolute !important;
    bottom: 65%;
    left: 25%;
}

/* Positioning Right Midfield*/
#RM{
    position: absolute !important;
    bottom: 65%;
    right: 25%;
}

/* Positioning Left Striker*/
#leftST{
    position: absolute !important;
    bottom: 80%;
    left: 35%;
}

/* Positioning Right Striker*/
#rightST{
    position: absolute !important;
    bottom: 80%;
    right: 35%;
}

/*Fix the issue with blurry downscaled images*/
img {
    transform: translateZ(0);
}


/*LineUp section responsive*/
#lineUp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;    
}


/*DIV WITH THE SOCCER FIELD IMAGE*/
#soccerField{
    position: relative !important;
    width: 100%;
    max-width: 900px;
    height: auto;
    max-height: 600px;
    margin: 0 auto;
    

}

/*SOCCER FIELD IMAGE*/
#field{
    width: 100%;
    max-width: 900px;
    height: auto;
    max-height: 600px;
}

/*Flex box DIV with players name*/
.players{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;   
    margin: 0 auto;
    padding: 15px;
    border-radius: 5%;
    width: 600px;
    gap: 20px;
    
    
}
/*DIV with players name*/
.Squad{
    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
    border-radius: 5%;
}

/*UL used for players name*/
ul{
    padding-left: 0px;
    margin: 0;
    list-style-type: none;
    color: white;
    text-align: center;
    font-size: 50;
    
}

/*LI used for each players name*/
li{
    border-radius: 50%;
    
}

/*players name hover effect*/
li:hover{
    background-color: red;
}

/*players position*/
span{
    color: red;
}

/*DIV with the images of the players in the field*/
#soccerColumn{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 5%;
}


